<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Tweeter</h1>
  <%= render "form", tweet: @tweet %>
  <%= turbo_stream_from "tweets" %>
  <%= turbo_frame_tag "tweets" do %>
      <%= render @tweets %>
  <% end %>
</div>



