<div class="container">

  <p style="color: green"><%= notice %></p>

  <h1>Posts</h1>
  <%= render "form", post: @post %>

  <div id="posts">
    <%= turbo_stream_from "posts" %>
    <%= turbo_frame_tag "posts" do %>
      <%= render @posts %>
    <% end %>
  </div>

</div>
